.tests-layout {
  width: calc(100% - 70px);
  height: 100%;
}

.tests-top {
  height: 13vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.tests-top-search {
  height: 10vh;
  padding: 10px;
  position: relative;
}

.tests-bottom {
  width: 100%;
  height: calc(100% - 13vh);
}

.tests-bottom-layout {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.tests-bottom-top {
  height: 7vh;
  position: relative;
}

.tests-add-btn {
  position: absolute;
  right: 0;
}

.test-list {
  height: 80%;
  padding: 15px 0;
  list-style: none;
  margin: 0;
}

.test-list p {
  font-size: 30px;
  font-weight: 100;
}

.test-list-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #3d4652;
  color: #3d4652;
  text-transform: capitalize;
}

.test-list-item-details {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.test-list-item-details ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-column-gap: 0.6rem;
  list-style: none;
  padding: 5px 20px;
  z-index: 22;
}

.test-list-item-details li {
  margin-bottom: 2px;
  font-size: 17px;
}

.test-details-title {
  font-weight: 600;
}

.show-details {
  height: 20vh;
}

.test-list-header {
  display: flex;
  justify-content: space-between;
}

.test-title {
  text-transform: capitalize;
}

.test-archive {
  display: flex;
  padding: 4px 10px;
  border-radius: 5px;
  background: red;
  cursor: pointer;
}

.test-archive-enabled {
  display: none !important;
  pointer-events: none;
}

.test-archive-icon {
  color: white;
}

.test-archive-text {
  margin: auto;
  padding-left: 5px;
  font-size: 12px;
  color: white;
}

.test-state-icon-check {
  margin-top: -4px;
  font-size: 24px;
  color: green;
}

.test-state-icon-update {
  margin-top: -5px;
  font-size: 28px;
  color: red;
}

.test-state-icon-archive {
  margin-top: -4px;
  font-size: 24px;
  color: gray;
}

.archive-title {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  z-index: 21;
}

.archive-title > span {
  margin: auto;
  padding: 0 10px;
  font-family: none;
  font-size: 3.5rem;
  border: 4px solid red;
  color: red;
  transform: rotate(15deg);
}

.btn-test {
  z-index: 23;
}

.test-grade-state-pass {
  color: green;
  font-size: 24px;
}

.test-grade-state-fail {
  color: red;
  font-size: 24px;
}

.pagination-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.pagination > li > a,
.pagination > li > span {
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #3d4652;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: pointer;
  background-color: #3d4652;
  border-color: #3d4652;
}

@media (max-height: 620px) {
  .test-list-item-details ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-column-gap: 0.6rem;
    grid-template-columns: auto auto auto;
    list-style: none;
    font-size: 14px;
    padding: 5px 20px;
    overflow-y: auto;
  }

  .archive-title > span {
    margin: auto;
    padding: 0 10px;
    font-family: none;
    font-size: 2.5rem;
    border: 2px solid red;
    color: red;
    transform: rotate(15deg);
  }
}
