.tests-layout {
  width: calc(100% - 70px);
  height: 100%;
}

.tests-top {
  height: 13vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.tests-top-search {
  height: 10vh;
  padding: 10px;
  position: relative;
}

.tests-bottom {
  width: 100%;
  height: calc(100% - 13vh);
}

.tests-bottom-layout {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.tests-bottom-top {
  height: 5vh;
  padding-bottom: 10px;
  position: relative;
}

.tests-add-btn {
  position: absolute;
  right: 0;
}

.test-list {
  height: 85%;
  padding-left: 0;
  list-style: none;
}

.test-list p {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.test-list-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #5794c9;
  cursor: pointer;
  color: #5794c9;
}

.test-list-item-show,
.test-list-item:hover {
  background: #5794c9;
  color: white;
}

.test-list-item-details {
  display: flex;
  align-items: flex-end;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.test-list-item-details ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-column-gap: 0.6rem;
  list-style: none;
  padding: 5px 20px;
}

.test-list-item-details li {
  margin-bottom: 2px;
  color: black;
  font-size: 17px;
}

.show-details {
  height: 160px;
}

.btn-test {
  width: 13vw;
}

.pagination-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.pagination > li > a,
.pagination > li > span {
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #5794c9;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: pointer;
  background-color: #5794c9;
  border-color: #5794c9;
}

/* @media (min-width: 1100px) {
  .tests-content-center-top {
    width: 90%;
  }

  .tests-content-center-top {
    padding: 20px 30px;
  }

  .test-list {
    margin-left: 70px;
  }
} */
