.btn-outlined {
  width: fit-content;
  color: #3d4652;
  background: none;
  border: 3px solid #3d4652;
  padding: 5px 10px;
  transition: all 0.3s linear;
}
.btn-outlined:hover,
.btn-outlined:active {
  background: #3d4652;
  color: white;
}

.btn-outlined-white {
  width: fit-content;
  color: #adb5bd;
  background: none;
  border: 3px solid #adb5bd;
  padding: 5px 10px;
  transition: all 0.3s linear;
}
.btn-outlined-white:hover,
.btn-outlined-white:active {
  border: 3px solid white;
  color: white;
}

.btn-filled {
  width: fit-content;
  background-color: #3d4652;
  padding: 5px 10px;
  color: white;
  border: 1px solid white;
  transition: all 0.3s linear;
}

.btn-filled-red {
  padding: 5px 10px;
  background: red;
  border: 1px solid white;
  transition: all 0.3s linear;
}

.btn-filled-red:hover,
.btn-filled-red:active {
  color: white;
}

.btn-disabled {
  pointer-events: none;
  cursor: not-allowed;
}
