.nav-item {
  display: block;
  height: auto;
  text-align: center;
  padding: 4px 0;
}

.nav-item-link {
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.nav-item-link:hover,
.nav-item-link:active,
.nav-item-link.active {
  cursor: pointer;
  color: rgb(126 149 190);
  text-decoration: none;
}

@media (min-width: 815px) {
  .nav-item {
    font-size: 16px;
    padding: 10px 12px;
  }

  .nav-item-link {
    font-size: 14px;
  }

  .nav-item:last-child {
    padding-right: 0;
  }

  .nav-item:first-child {
    padding-left: 0;
  }
}
