.image-question-top {
  display: flex;
  justify-content: space-between;
}

.image-question-structure {
  height: 100%;
  padding: 10px 0;
  flex: 0.6;
}

.image-question-structure-top {
  display: flex;
}

.image-question-content {
  width: 33vw;
}

.image-question-value {
  width: 10vw;
  margin-left: 10px;
}

.image-question-structure-center {
  margin: 10px 0;
  display: flex;
}

.image-question-structure-center input {
  width: 95%;
  margin: 3px 0;
}

.image-question-file {
  margin: 10px 0;
}

.image-question-structure-bottom textarea {
  width: 15vw;
  resize: none;
}

.image-question-structure p {
  height: 40px;
  margin-bottom: 0;
  padding: 5px 0;
  color: red;
}

.question-image-struct {
  height: 100%;
  display: flex;
}

.question-image-header {
  width: 60%;
  height: 100%;
  padding: 30px 10px;
}

.question-image-content {
  margin: auto;
}

.question-image-options {
  height: 270px;
  padding: 10px 20px;
  overflow: auto;
}

.question-image {
  width: 40%;
  display: flex;
}

.question-image img {
  width: 250px;
  margin: auto;
}
