.content {
  height: 100%;
  background: gray;
  position: relative;
}

.content-body {
  position: relative;
}

.content-modal {
  position: absolute;
  top: 20vh;
  width: 80%;
  left: 110px;
}

.modal-content-args {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
  grid-row-gap: 0.5rem;
  grid-column-gap: 40px;
  padding: 0 20px;
}

.modal-content-args {
  padding: 50px 10px;
  margin: 0;
}

.modal-content-argument {
  display: grid;
  padding: 12px;
  color: white;
}

.modal-content-btn {
  display: flex;
}

.modal-content-btn Button {
  margin: auto;
}

@media (min-width: 735px) {
  .modal-content-args {
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  }
}
