/*.home-content {
    background: url(../../Images/school.jpg) center no-repeat;
    background-size: cover;
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    position: relative;
}
*/