.overview {
  height: 100%;
}

.publish-overview-section {
  padding: 10px 0;
}

.test-overview-details {
  display: flex;
  text-transform: capitalize;
}

.test-overview-details div:first-child {
  padding-right: 20px;
}

.test-overview-details span {
  font-size: 20px;
}

.questions-list-overview {
  max-height: 45vh;
  padding-left: 0;
  list-style: none;
  overflow: auto;
}

.question-overview {
  display: flex;
  margin: 10px 0;
  padding: 10px;
  border: 1px dashed black;
}

.question-content-overview > h5 {
  color: rgb(126 149 190);
}

.question-content-overview {
  width: 100%;
  flex: 0.7;
}

.question-image-overview {
  display: flex;
  flex: 0.3;
  padding: 0 10px;
}

.question-image-overview-content {
  width: 15vw;
  margin: auto;
}

.test-overview-classes-list {
  width: fit-content;
  height: 7vh;
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
  grid-template-rows: 50% 50%;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.test-overview-classes-item {
  padding: 5px 10px;
  color: white;
  background: #3d4652;
}

.overview-btn {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 15px 15px 0px;
}

.overview-btn Button:first-child {
  margin-right: 10px;
}
