.test-details {
  display: flex;
  padding: 10px 20px;
}

.test-details-content {
  width: 100%;
}

.test-details-content p {
  text-transform: capitalize;
}

.test-details-content Button {
  width: 9vw;
  font-size: 14px;
  margin-top: 5px;
}
