.user-settings-icon {
  position: fixed;
  padding: 0px 6px 6px 6px;
  border: 2px solid darkgrey;
  border-radius: 10px;
  font-size: 20px;
  color: darkgrey;
  left: 7px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.user-settings-icon:hover {
  border: 2px solid white;
  background: white;
  color: #3d4652;
}

.dashboard-content-header img {
  width: 80%;
  border-radius: 50%;
  padding: 10px 0;
  margin-bottom: 6vh;
}

.dashboard-content-header {
  color: aliceblue;
  margin-top: 15px;
  letter-spacing: 2px;
}

.dashboard-content-header {
  text-transform: capitalize;
}

.dashboard-content-end {
  height: 22vh;
  position: absolute;
  bottom: 9vh;
  color: aliceblue;
  text-align: left;
  text-transform: capitalize;
  overflow-y: auto;
}

.profile-user-details {
  display: flex;
  color: aliceblue;
  letter-spacing: 2px;
  font-size: 15px;
  margin-bottom: 10px;
}

.profile-user-details span {
  margin-right: 13px;
}

.dashboard-content-header h1 {
  font-size: 1.5rem;
}

.dashboard-content-header h4 {
  font-size: 18px;
}

.profile-logout {
  font-size: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 10px 10px 0px;
  color: darkgrey;
  cursor: pointer;
}

.profile-logout-icon:hover {
  color: white;
}

@media (min-width: 1100px) {
  .dashboard-content-header h1 {
    font-size: 40px;
  }

  .dashboard-content-header h4 {
    font-size: 24px;
  }

  .dashboard-content-end h5 {
    font-size: 1.55rem;
  }

  .dashboard-content-end {
    margin-top: 15vh;
  }
}
