.layout-full-content {
  width: 100%;
  height: 100vh;
}

.layout-content {
  position: relative;
  width: 100%;
  height: calc(100% - 82px);
  min-height: calc(100% - 82px);
  top: 82px;
}
