.card-content {
  width: 200px;
  height: 160px;
  margin: auto;
  box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
}

.card-content:hover {
  box-shadow: 8px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.card-img {
  position: relative;
  height: 130px;
  display: flex;
  transition: all 0.3s linear;
}

.card-img:hover {
  background: rgba(0, 0, 0, 0.8);
}

.card-img img {
  display: block;
  width: 100%;
  transition: all 0.3s linear;
}

.card-img:hover img {
  opacity: 0.3;
}

.card-name {
  height: 30px;
}

.card-name h5 {
  height: 100%;
  color: white;
  text-align: center;
  background: rgba(1, 1, 1, 0.5);
  text-transform: capitalize;
}

.card-img Button {
  width: 56%;
  position: absolute;
  top: 35%;
  left: 23%;
  transform: scale(0);
  transition: all 0.3s linear;
}

.card-img:hover button {
  transform: scale(1);
}
