.login-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.login-modal-content-args {
  width: 40%;
  height: 40%;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.login-modal-content-argument {
  padding: 5px;
}

.login-modal-content-args Button {
  margin-top: 10px;
}
