.blank-question-top {
  display: flex;
  justify-content: space-between;
}

.blank-question-structure {
  height: 100%;
  padding: 10px 0;
  flex: 0.6;
}

.blank-question-layout {
  display: flex;
}

.blank-question-layout input {
  margin-right: 21px;
}

.blank-question-structure-center {
  margin: 10px 0;
  display: flex;
}

.blank-question-structure-center * input {
  width: 95%;
  margin: 5px 0;
}

.blank-question-structure-bottom {
  display: flex;
  justify-content: space-between;
}

.blank-question-structure-btn p {
  width: 26vw;
  height: 40px;
  margin-bottom: 0;
  font-size: 14px;
  color: red;
}

.blank-question-value {
  width: 10vw;
  height: 3vh;
  margin-right: 16px;
  margin-top: 5px;
}

.blank-question-view {
  flex: 0.4;
}

.question-blank-struct {
  height: 100%;
  display: flex;
}

.question-blank-content {
  width: 100%;
  margin: auto;
  padding: 10px 30px;
}

.question-blank-options {
  padding: 10px 20px;
}
