.test {
  width: 100%;
  height: 100%;
}

.test-modal-confirm Button {
  float: right;
}

.test-modal-cancel Button {
  margin-left: 10px;
  float: right;
}

.test-config {
  height: 80%;
  padding: 10px 15px;
}

.question-config {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.question-type {
  padding: 2px 0;
}

.question-config Button {
  font-size: 14px;
  padding: 2px 4px;
  margin: 0 10px;
}

.question-lists-view {
  width: 100%;
  height: 20%;
  display: flex;
}

.question-message-empty {
  margin: auto;
  color: #7e95be;
  font-size: 24px;
  font-weight: 600;
}

.question-navigation-test-design {
  flex: 0.1;
  display: flex;
}

.navigate-arrow-test-design {
  font-size: 50px;
  display: flex;
  margin: auto;
  cursor: pointer;
}

.navigate-arrow-test-design:hover {
  color: #7e95be;
}

.question-view-layout {
  display: flex;
  align-items: center;
  flex: 0.8;
}
