.test-create-form {
  width: 60%;
  height: 100%;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

.test-create-form span {
  height: 2vh;
  margin-bottom: 5px;
}

.test-create-input {
  border: 2px solid transparent;
}

.test-create-input-error {
  border: 2px solid red;
}

.test-create-form Button {
  margin-top: 10px;
}
