.check-question-top {
  display: flex;
  justify-content: space-between;
}

.check-question-structure {
  height: 100%;
  padding: 10px 0;
  flex: 0.65;
}

.check-question-structure-top {
  display: flex;
}

.check-question-content {
  width: 77%;
}

.check-question-value {
  width: 18%;
  margin-left: 15px;
}

.check-question-structure-bottom {
  margin: 10px 0;
}

.check-question-input {
  display: flex;
}

.check-question-structure-bottom * input {
  width: 95%;
  margin: 5px 0;
}

.check-config {
  display: flex;
  justify-content: space-between;
}

.check-config-error {
  width: 70%;
}

.check-question-structure p {
  width: 26vw;
  height: 40px;
  margin-bottom: 0;
  font-size: 14px;
  color: red;
}

.check-question-view {
  flex: 0.35;
}

.question-choice-struct {
  height: 100%;
  display: flex;
}

.question-choice-content {
  width: 100%;
  margin: auto;
  padding: 10px 30px;
}

.question-choice-options {
  padding: 10px 20px;
}
