.table {
  width: 100%;
  height: 90%;
  margin-top: 26px;
  overflow: auto;
  position: absolute;
}

.table-spinner {
  color: white;
}

.table-tests-empty {
  font-size: 25px;
  color: white;
}

table {
  width: 100%;
  position: relative;
}

th {
  color: white;
  background: darkgrey;
  position: sticky;
  top: 0;
}

td {
  color: white;
}

.isDone-check {
  color: green;
}

.isDone-false {
  color: red;
}
