.question-card-layout {
  width: 12vw;
  height: 16vh;
  position: relative;
  margin: 0 20px;
  padding: 20px;
  background: rgb(126, 149, 190);
  color: white;
  cursor: pointer;
  box-shadow: 0px 5px 5px 3px grey;
  transition: all 0.3s linear;
}

.question-card-layout:hover {
  height: 17vh;
  background: rgba(126, 149, 190, 0.9);
  box-shadow: 0px 5px 10px 5px grey;
}

.question-card-layout:hover .question-card-top Button {
  display: block;
}

.question-card-layout h3 {
  text-align: center;
}

.question-card-layout h6 {
  bottom: 0;
  right: 0;
  position: absolute;
  margin-right: 10px;
}

.question-card-top {
  display: flex;
  justify-content: space-between;
}

.question-card-top Button {
  font-size: 15px;
  font-size: 13px;
  height: 30px;
  border-radius: 6px;
  display: none;
}
